* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 150px;
    background-color: #144e83;
  }
  
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
.search2 {
  display: flex;
  align-items: center;
}

  button {
  background-color: #144e83;
  border: #144e83;
  }
  
  ::placeholder {
    text-align: center;
  }
  
  .recherche {
    height: 30px;
    width: 250px;
    border-radius: 20px;
  }
  
  .search {
    width: 30px;
    height: 30px;
  }
  
  .photo {
    width: 180px;
    height: 150px;
  }
  
  .panier {
    width: 40px;
    height: 40px;
  }

  .inscription {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .lien {
    margin: 30px;
  }
  
  .lien2 {
    color: white;
  }

  .lien3{
    color: black
  }
  
  
  header nav div a {
    color: black;
    text-decoration: none;
  }
  
  .nav2 {
    margin-top: 20px;
    height: 60px;
    background-color: #b8b8b8;
  }
  
  .nav2 ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav2 ul li {
    list-style-type: none;
  }
  
  .nav2 ul li a {
    text-decoration: none;
    color: black;
  }
  
   .nav2 ul li .active {
    color: #144e83;
    font-weight: 900;
    font-size: 30px;
  }

/* ------------------------------fin header --------------------------------------------- */

h2 {
    text-align: center;
    line-height: 60px;
    color:black;
    font-size: 40px;
    margin-top: 8%;
    position: relative;
    margin-bottom: 2%;

}

h2:after {
    content: '';
    background: #144e83;
    width: 180px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

.articles-container {
    margin-bottom: 2em;
}   

  .articles-container .article {
    margin: 10px;
    width: 350px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 2px rgba(60, 64, 67, 0.15);
}


  .articles-container .article img {
    margin-top: 20px;
    width: 250px;
    height: 200px;
    margin-left: 40px;
  }

  .articles-container .article h4 {
    text-align: center;
    color: #144e83;
    font-size: 20px;

}

  .articles-container .article>p {
    text-align: center;
    font-weight: 700;
}

  .articles-container .article .article-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

  .articles-container .article .article-action p {
    font-size: 20px;
    font-weight: 900;
    color: #c0392b;
}

.stock {
  font-size: 20px;
  font-weight: 900;
  color: green;
}

  .articles-container .article .article-action button {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-color: #144e83;
    color: white;
}

.button {
  display: none;
}

.span {
  border: 1px solid red;
  background-color: red;
  border-radius: 75%;
}

.display {
  display: none;
}

  .articles-container .article .article-action button:hover {
    background-color: #b8b8b8;
    color: #144e83;
}

  .rayon, .rayon2, .rayon3 {
      display: flex;
      justify-content: space-between;
  }

  .pc {
    margin-top: 20px;
    width: 250px;
    height: 200px;
  }

  
  .prix {
    color: red;
    font-size: 24px;
  }


  .haut-page {
    display: flex;
    justify-content: center;
  }

  .boutons {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .bouton-lght {
    background-color: #144e83;
    color: white;
    text-decoration: none;
  }
/* ---------------------------------footer ---------------------------------------------- */
  .footer {
    background-color: #144e83;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-top: 10px;
  }
  
  .liens {
    text-decoration: none;
    color: white;
  } 