section {
  margin: 0;
  padding: 0;
}

#carouselExemple {
  width: 65%;
  border-radius: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  display: flex;
  width: 900px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.texte2 {
  color: black;
}

.titre{
  text-align: center;
  line-height: 60px;
  color:black;
  font-size: 40px;
  margin-top: 5%;
  position: relative;
  margin-bottom: 2%;
}

.titre:after {
  content: '';
  background: #144e83;
  width: 180px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.articles-container {
  margin-bottom: 5em;
}   


.article-container .article {
  margin: 10px 20px;
  width: 350px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.articles-container .article img {
  margin-top: 20px;
  width: 250px;
  height: 200px;
  margin-left: 40px;
}

.articles-container .article > h4 {
  text-align: center;
  color: #144e83;
  font-size: 20px;

}

.articles-container .article > p {
  display: inline-flex;
  text-align: center;
  font-weight: 500;
}

.articles-container .article .article-action{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.articles-container .article .article-action > p {
  font-size: 20px;
  font-weight: 900;
  color: #c0392b;
}

.articles-container .article .article-action button {
  border: 0;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;
  background-color: #144e83;
  color: white;
}

.articles-container .article .article-action button:hover {
  background-color: #b8b8b8;
  color: #144e83;
}

.rayon, .rayon2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pc {
  margin-top: 20px;
  width: 250px;
  height: 200px;
}
.prix {
  color: red;
  font-size: 24px;
}

.haut-page {
  display: flex;
  justify-content: center;
}

.boutons {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  margin-top: 30px;
}

.bouton-lght {
  background-color: #144e83;
  color: white;
  text-decoration: none;
}

.button {
  color: white;
  font-size: 22;
}

.spanny {
  color: red;
  font-size: 22;
}

.dnone {
  display: none;
}
